# <Span style = 'color:green'>*Loading Data*</Span>

In [ ]:
# general
data = pd.read_csv(fname.csv)
data = pd.read_excel(fname.xlsx, sheetname=0, header=1)
data = pd.read_json(fname, orient='columns')

In [ ]:
# huge dataset
fname = '../Python code/train.csv'
chunk_size=10**5
reader = pd.read_csv(fname, iterator=True)
chunks = []
loop = True
while loop:
    try:
        chunk = reader.get_chunk(chunk_size)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print("Iteration is stopped")

%time Raw_df = pd.concat(chunks, ignore_index=True)

In [ ]:
# sql query
import pandas as pd
from sqlalchemy iport create_engine

# Create a connection
database_connection = create_engine('sqlite://sample.db')

# Load data
dataframe = pd.read_sql_query('SELECT * FROM data', database_connection)

# <Span style='color:green'>*DataFrame sliceing*</Span>

# .loc

In [ ]:
# select values
dataframe.columns #查詢欄位名稱
dataframe.values  #查詢Cell值
dataframe.index   #查詢index

# Select rows
dataframe[1:5]

# Select columns
dataframe[['Sex','Pclass']]

# select rows by conditions
dataframe[[dataframe['Sex']!='female']]

# select column by .loc
dataframe.loc[:,'Sex']
dataframe.loc[3:15,'Sex']
dataframe.loc[:,'Sex':'Pclass']

# .iloc

In [ ]:
# select row
dataframe.iloc[2]

# select column
dataframe.iloc[:,2]

# select specific rows and columns
dataframe.iloc[[1,4],[2,5]]

# slicing
dataframe.iloc[1:4,2:5]

# selelct specific cell
dataframe.iloc[3,5]

# Sort & Rank

In [ ]:
dataframe.sort_values(by = 'Sex', axis=0, ascending=False, inplace=False)
dataframe.sort_values(by = ['Sex','Pclass'], axis=0, ascending=False)

# by index if index=date
dataframe.sort_value(by=list(dataframe.index), axis=1, ascending=False)

# <Span style='color:green'>*Data Wrangling*</Span>

In [ ]:
import pandas as pd
dataframe = pd.read_csv(fname)

# data overview
dataframe.head()
dataframe.tail()
dataframe.describe()
dataframe.describe(include=['0'])
dataframe.describe(include='all')
dataframe.describe(include=['category'])
dataframe.shape()
dataframe['Sex'].unique() # finding unique values ###Series only
dataframe['Sex'].values_counts() # finding counts ###Series only

In [ ]:
# data slice
dataframe.iloc[1:4] # select rows
dataframe.iloc[1:4, 2] #select columns

# set index (index could be integer, string as long as they qre unique)
dataframe = dataframe.set_index(dataframe['Name'])
dataframe.loc['Peter Lin'] #select row

# select raows based on onditionals
dataframe[dataframe['sex']=='female'].head() #select conditional rows

# give name to index
dataframe.index.name='item'

In [ ]:
# replacing values
dataframe['Sex'].replace('Sex','Women')

# rename columns (single or multiple at a time)
dataframe.rename(columns={'Pclass':'Passenger Class', 'Sex':'Gender'})

In [ ]:
# Min/Max/Mean/Count/Sum
dataframe['Age'].min()
dataframe['Age'].max()
dataframe['Age'].mean()
dataframe['Age'].count()
dataframe['Age'].sum()

In [ ]:
# Handling missing values
dataframe.dropna()
dataframe.fillna(method='ffill') #補前值

# missing value sort_values
(dataframe.isnull().sum()/len(Raw_df)*100).sort_values(ascending=False)

In [ ]:
# deleting columns
dataframe.drop('Age', axis=1)
dataframe.drop(['Age','Sex'], axis=1)
dataframe.drop(dataframe.columns[1], axis=1)

# deleting rows
dataframe[datafrma['Sex']!='female'].head()

# drop duplicate rows
datafrmae.drop_duplicates(subset=['Sex']) # delete duplicates along specific columns

In [ ]:
# Grouping values by rows
Datafrmae.groupby('Sex').mean()

# Grouping Rows by time
dataframe.resample('W').sum()

In [ ]:
# looping over a column
# method_1
for name in dataframe['Name'][0:2]:
    print(name.upper())
    
# method_2
[name.upper() for name in dataframe['Name'][0:2]]

## Apply<span style="color:red">*(Series or DataFrame)*</span> Map<span style="color:red">*(Series)*</span>  & Applymap<span style="color:red">*(DataFrame only)*</span>

In [48]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])

# Create a lambda function
capitalizer = lambda x: x.upper()

#apply() can apply a function along any axis of the dataframe
df['name'].apply(capitalizer)

# map() applies an operation over each element of a series
df['name'].map(capitalizer)

# applymap() applies a function to every single element in the entire dataframe.

# Drop the string variable so that applymap() can run
df = df.drop('name', axis=1)

# Return the square root of every cell in the dataframe
df.applymap(np.sqrt)

            coverage   reports       year
Cochice     5.000000  2.000000  44.855323
Pima        9.695360  4.898979  44.855323
Santa Cruz  7.549834  5.567764  44.866469
Maricopa    7.874008  1.414214  44.877611
Yuma        8.366600  1.732051  44.877611

In [ ]:
# concat
pd.concat([df1,df2], axis=0)
pd.concat([df1,df2], axis=1)

#add rows to a dataframe
dataframe.append(row, ignore_index=True)

## <span style = 'color:red'>*Merging*</span>

In [ ]:
# inner join
pd.merge(df1,df2, on='employee_id')

# outer join
pd.merge(df1, df2, on='employee_id', how='outer')
pd.merge(df1, df2, on='employee_id', how='left')
pd.merge(df1, df2, on='employee_id', how='right')

# merge (聯集)
pd.merge(df1,df2 ,lef_on='employee_id',right_on='employee_id')

# merge on index
pd.merge(df1,df2 ,left_index=True,right_index=True)

# <Span style='color:green'>*Handling Dates and Times*</Span>

In [19]:
date_strings = np.array(['03-04-2005 11:35 PM','23-05-2010 12:01 AM','04-09-2009 09:09 PM'])
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

In [25]:
# Handling tie zones
date = pd.Timestamp('2017-05-01 06:00:00')
date_in_london=date.tz_localize('Europe/London')
# convert time zone
date_in_Abidjan = date_in_london.tz_convert('Africa/Abidjan')
date_in_Abidjan

Timestamp('2017-05-01 05:00:00+0000', tz='Africa/Abidjan')

## <span style = 'color:blue'>set datetime as index</span>

In [55]:
# Create datetime example
dataframe = pd.DataFrame()
dataframe['date'] = pd.date_range('1/1/2001', periods=150, freq='W')
# if date is a column instead of index
dataframe[dataframe['date']>'2001-01-01 01:00:00'].head()
dataframe[dataframe['date']>'2001-01-01 01:00:00'].head()

# if date is set as an index
dataframe['date'] = dataframe.set_index(dataframe['date'])
dataframe.loc['2001-01-01 01:00:00':'2001-01-02 01:00:00'].head()

# create Year/Month/Day/Hour/Minute
dataframe['date'].dt.year
dataframe['date'].dt.month
dataframe['date'].dt.day
dataframe['date'].dt.hour
dataframe['date'].dt.minute

# Time difference
dataframe=pd.DataFrame()
dataframe['Arrived'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-04-2017')]
dataframe['left'] = [pd.Timestamp('01-01-2017'), pd.Timestamp('01-06-2017')]
dataframe['left']-dataframe['Arrived' ]